
<div class="flexContainer">

    <div class="img1">
        <img src="assets/Zentity/Logo@1x.png" >
    </div>
    </div>
    
    <div class="flexContainer">
    <div class="img1">
        <img src="assets/Zentity/Slash@1x.png" >
       <span class="title1"> John Cena</span>
    </div>
    </div>
    
    <div class="flexContainer">
      <div class="img2">
          <img src="assets/Zentity/User@1x.png" >
      </div>
    </div>
    
    <div class="flexContainer">
      <span class="title2">Start by setting up</span>     
    </div>
    
    <div class="flexContainer">     
      <span class="title3">your username.</span>
    </div>

    <div class="flexContainer title2">
        <form>
            <input type="text" id="uname" name="uname" value="" placeholder="Here, please!">
        </form>
    </div>
    
    <div class="flexContainer location">     
      <button type="button" class="btn btn-outline-warning btn-lg">Continue<span class="start"></span> ></button>
    </div>

    
