<!-- <div class="flexContainer">

<div class="img1">
    <img src="assets/Zentity/Logo@1x.png" >
</div>
</div>

<div class="flexContainer">
<div class="img1">
    <img src="assets/Zentity/Slash@1x.png" >
   <span class="title1"> John Cena</span>
</div>
</div>

<div class="flexContainer">
  <div class="img2">
      <img src="assets/Zentity/Code@1x.png" >
  </div>
</div>

<div class="flexContainer">
  <span class="title2">Welcome to testing</span>
 
</div>

<div class="flexContainer">
 
  <span class="title3">assigment at ZENTITY.</span>
</div>

<div class="flexContainer location">
 
  <button type="button" class="btn btn-outline-warning btn-lg" (click)="navigateToSetUsername()">Start<span class="start"></span> ></button>
</div> -->


<!-- <app-username></app-username> -->
 
<router-outlet></router-outlet>


